.navbar{
  background-color: black !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.nolink{
  border: none;
  background-color: whitesmoke;
  color: rgb(81, 71, 136);
  line-height: 40px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}
.nolink:hover{
  background-color: whitesmoke !important;
  color: rgb(81, 71, 136) !important;
}
.wrapper{
  display: flex;
  position: relative;
}
.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: whitesmoke;
  padding: 30px 0px;
  position: fixed;
}
.wrapper .sidebar ul li a{
  color: rgb(81, 71, 136);
  display: block;
  font-size: 17px;
  line-height: 40px;
  margin-left: 10px;
}
.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}   
.wrapper .sidebar ul li:hover a{
  color:white;
}
.wrapper .sidebar .detail {
  margin-left: 30px;
}
.mediafraction{
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 0px;
  cursor: context-menu;
}
.welcome{
  cursor: context-menu;
  margin-top: -3px;
}
#topselling{
  margin-left: 50%;
}
#khung{
  margin-left: 41.3%;
}
.khungproduct{
  margin-left: 300px !important;
  border-width: 5px;
  border-color: rgb(255, 230, 148);
  border-style: outset;
}
.cardbody{
  color: rgb(81, 71, 136);
  color: black;
}
.cardbody:hover{
  text-decoration: none;
  color: black;
}
.imageborder{
  border-bottom:5px solid;
  border-color: rgb(255, 230, 148);
}
.inline { 
  display: inline-block; 
  margin-left: 80px;
  border-width: 5px;
  border-color: rgb(255, 230, 148);
  border-style: outset;
  }
body{
    background-color: white;
}